<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- link font awesom cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <div class="header-1">
            <a href="#" class="logo"><i class='fas fa-book'></i>Book Shop </a>
            <form action="" class="search-form">
                <input type="search" name="" placeholder="Search here....." id="search-box">
                <label form="search-box" class="fas fa-search"></label>
            </form>
            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-shopping-cart"></a>
                <div id="login-btn" class="fas fa-user"></div>
            </div>
        </div>

        <div class="Items-Section2">
            <p style="color: rgb(255, 255, 255);"><a style="color: rgb(255, 255, 255);" href="/">Home</a> /
                Shop
                <br> <span style="color: rgb(39, 39, 39);">Books</span> - 07 items
            </p>
            <select name="Sorting-Options" id="Sorting-Options" class="sorting-options">
                <option value="">Select Sorting Options</option>
                <option value="A-to-Z">A to Z</option>
                <option value="Price-High-to-Low">Price-High to Low</option>
                <option value="Price-Low-to-High">Price-Low to High</option>
                <option value="Newest">Newest</option>
                <option value="Popularity">Popularity</option>
            </select>
        </div>

        <section class="products">
            <% if (locals.data) { %>
                <% if (data.length == 0) { %>
                 <p>Add some items</p>
                <% } %>
                <% data.forEach(item => { %>
                   <div class="product-divs">
                       <img src="<%= item.Product_ImgPath1 %>" alt="">
                       <p><%= item.Product_Name %></p>
                       <p><%= item.Product_Size_Type %></p>
                       <p>&#x20b9 <%= item.Product_Price %>
                           <span
                               style="text-decoration: line-through;font-size: 1rem; padding: 1rem .8rem; color: grey;"><%= item.Product_CutPrice %></span>
                       </p>
                   </div>
                <% }) %>
               <% } %>    
        </section>
</body>

</html>