<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Fashion View Shop</title>
        <style>
            .headingImg img {
                transition: opacity 0.5s ease;
                opacity: 1;
            }

            .headingImg img.fade-out {
                opacity: 0;
            }
        </style>
</head>

<body>
    <%- include('./partials/navbar') %>
        <%- include('./partials/wishListBar') %>

            <!-- HEADING IMAGE SECTION  -->
            <div class="headingImg" id="headingImg">
                <img src="/images/catban-120230729114515.webp" alt="">
            </div>
            <!-- HEADING IMAGE SECTION ENDS -->

            <div id="documentDisplay"></div>
            <section class="shopMainDiv">
                <!-- CATEGORY BAR STARTS  -->
                <div class="AllCategories" id="AllCategories">
                    <% if (locals.category || locals.path) { %>
                        <% category.forEach(element=> { %>
                            <div>
                                <%= element %>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
                <!-- CATEGORY BAR ENDS  -->
                <div class="products">
                    <% if (locals.data) { %>
                        <% if (data.length==0) { %>
                            <p>Add some items</p>
                            <% } %>
                                <% data.forEach(item=> { %>
                                    <a href="/Shop/item/<%= item.Product_Name %>">
                                        <div class="product-divs">
                                            <div class="imgDiv"> <img src="/<%= item.Product_ImgPaths[0] %>" alt="">
                                            </div>
                                            <p>
                                                <%= item.Product_Name %>
                                            </p>
                                            <p>
                                                <%= item.Product_Size_Type %>
                                            </p>
                                            <p>&#x20b9; <%= item.Product_Price %>
                                                    <span
                                                        style="text-decoration: line-through;font-size: 1rem; padding: 1rem .8rem; color: grey;">
                                                        <%= item.Product_CutPrice %>
                                                    </span>
                                            </p>
                                        </div>
                                    </a>
                                    <% }) %>
                                        <% } %>
            </section>
            </section>



            <!-- PRODUCTS SECTION STARTS -->


            <% if (locals.category || locals.data) { %>
                <% for( let index=1; index < category.length; index++ ) { %>
                    <section class="products">
                        <% data.forEach(item=> { %>
                            <% if (item.Product_Type==category[index] ) { %>
                                <a href="/Shop/item/<%= item.Product_Name %>">
                                    <div class="product-divs">
                                        <img src="/<%= item.Product_ImgPaths[0] %>" alt="">
                                        <p>
                                            <%= item.Product_Name %>
                                        </p>
                                        <p>
                                            <%= item.Product_Size_Type %>
                                        </p>
                                        <p>&#x20b9 <%= item.Product_Price %>
                                                <span
                                                    style="text-decoration: line-through;font-size: 1rem; padding: 1rem .8rem; color: grey;">
                                                    <%= item.Product_CutPrice %>
                                                </span>
                                        </p>
                                    </div>
                                </a>
                                <% } %>
                                    <% }) %>
                    </section>
                    <% } %>
                        <% } %>
                            <!-- PRODUCTS SECTION ENDS -->

                            <!-- HOMEGROWN SECTION  -->
                            <%- include("./partials/homeGrownBranding") %>
                                <!-- HOMEGROWN SECTION ENDS  -->

                                <!-- FOOTER SECTION  -->
                                <%- include("./partials/footer") %>
                                    <!-- FOOTER SECTION ENDS  -->

                                    <!-- COPYRIGHT SECTION  -->
                                    <div class="copyright">
                                        <p>&copy; 2023 Developed By Rajeev Prajapat</p>
                                    </div>
                                    <!-- COPYRIGHT SECTION ENDS  -->

                                    <script src="/js/shop.js"></script>


                                    <%- include('./partials/script.js') %>


</body>

</html>